.tile-image {
    width: 90%;
    height: 80%;
    /* border: 3px double blue  ; */
  }

  /* .tile-image:hover{
    width: 3%;
    height: 4%;
  } */
/* .lista{
  width: 20%;
  margin-left: 30rem;
  margin-top: 80px;
  margin-right: 50em;
  width: 100vmin;
  border: 3px solid yellow ;
}
.celula{
    display: flex;
    /* margin-left: 50rem;
    margin-right: 50rem; 
    width: 5%;
    width: 100vmin;
    border: 3px solid red ;
}
conteudo{
    display: flex;
    /* margin-left: 100px; 
    align-items: center;
    /* margin: auto; */
    /* width: 60%; 
    width: 100vmin;
} */