<div class="conteudo">
  <!-- <p>{{jogoatual|json}}</p>   -->
<mat-grid-list 
    [cols]=this.srv.niveis[this.srv.nivel].colunas 
    md-gutter="1px" 
    rowHeight="1:1" 
    class="lista"
>
  <mat-grid-tile 
  *ngFor="let y of this.srv.telaarray;let i=index"
  class='celula'
   >
   <app-carta 
    
   [cartaobj]="this.srv.cartaobjarray[i]" 
   [cartalink]="this.srv.cartaobjarray[i].cartaface"
    
    >
   </app-carta>
  </mat-grid-tile>
  
</mat-grid-list>
<!-- <p>{{jogoatual|json}}</p> -->
</div>
<!-- cartaobj={{cartaobjarray[i]}} -->
<!-- (click)="onClick(i)" -->