*{
    margin:0px;
    pad: 0px;
    padding: 0px;
    background-color: darkgray;
}
.lista{
    width: 52%;
    /* margin-left: 25rem; */
/* background-color: yellow;     */
    /* margin-top: 80px;
    margin-right: 50em; */
    /* border: 3px solid yellow ; */
  }
  .conteudo{
      display: flex;
      justify-content: center;
      /* margin-top: 1%; */
      /* margin-left: 30rem; */
      /* justify-items: center; */
      width: 40rem;
      /* height: 100%; */
/* background-color: yellow; */
      /* border: 3px blue; */
      
  }
  .celula{
    display: flex;
    /* margin-left: 50rem;
    margin-right: 50rem; */
 
    width: 10rem;
    border: 3px double red ;
}