/* You can add global styles to this file, and also import other style files */
*{
  margin: 0px;
  padding: 0px;
}

html, body { 
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color:rgb(250, 239, 239);
}

body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif; 
    }

red{
  color:red;
}
